<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WICASTR Digital Signage</title>
    <link href="/dist/plyr.css" rel="stylesheet" />
    <link href="/css/style.css" rel="stylesheet" />
    <link href="/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="/css/font-awesome.min.css" rel="stylesheet" />
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript" src="/js/hls.js"></script>
    <script type="text/javascript" src="/dist/plyr.js"></script>
</head>
<body>

