<% include header.ejs %>
<script>
    var items = JSON.parse('<%- JSON.stringify(user) %>')
</script>
<div class="cntnr">
    <div class="divteg">
    </div>
    <div>
        <div id="monitor-overlay">
            <div id="iframe-cnt"></div>
            <div id="video-info" class="container-fluid">
                <div class="row clearfix">
                    <div class="col-md-4 pull-right clearfix">
                        <div class="play-hls-level pull-right">
                            <div><span class="label label-primary">hls level</span> <span class="label label-default hls-levels"></span></div>
                        </div>
                        <div class="play-error pull-right">
                            <span class="label label-danger"></span>
                        </div>
                        <div class="play-volume pull-right">
                            <i class="fa fa-volume-up" aria-hidden="true"></i>
                            <i class="fa fa-volume-off" aria-hidden="true"></i>
                        </div>
                        <div class="play-time pull-right">
                            <span class="label label-primary"></span>
                        </div>
                        <div class="play-status pull-right">
                            <i class="fa fa-play" aria-hidden="true"></i>
                            <i class="fa fa-pause" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 text-center" id="videoUrl">

    </div>
</div>


<% include footer.ejs %>
