<% include header.ejs %>
<script>
    var items = JSON.parse('<%-JSON.stringify(user) %>')
</script>
<style>
    .stream{
        background-color: red;
        color: #000;
    }
</style>
<div class="containers">
    <video id="video" width="100%"></video>
    <div class="col-md-12" id="videoUrl"></div>

</div>


<% include footer.ejs %>
