<% include header.ejs %>
<script>
    var items = JSON.parse('<%- JSON.stringify(user) %>')
</script>
<style>
    .stream {
        background-color: red;
        color: red;
    }

    body {
        background-color: #000;
    }

    html {
        overflow: hidden;
    }

    ::-webkit-scrollbar {
        width: 0px;  /* remove scrollbar space */
        background: transparent;  /* optional: just make scrollbar invisible */
    }

    #videoUrl a {
        background-color: #2aabd2;
        padding: 50px 55px;
        border: 1px solid #000;
        color: #fff;
        font-size: 48px;
        text-transform: uppercase;
        margin-bottom: 20px;
        font-weight: 900;
    }

    .divteg {
        margin: 0px;
        padding: 0px;
    }

    #monitor-iframe {
        position:absolute;
        top:0px;
        left:0px;
        width:100%;
    }

    html,body,.containesr,.divteg,.plyr,.plyr__video-wrapper,video {height:100%!important; }
    button,.plyr__controls{ display:none!important;opacity:0!important;visibility:none!important; }

</style>
<div class="containesr">
    <div class="divteg">
    </div>
    <div id="monitor-overlay"></div>
    <div class="col-xs-12 text-center" id="videoUrl">

    </div>
</div>


<% include footer.ejs %>
