<% include header.ejs %>
<script>
    var items = JSON.parse('<%- JSON.stringify(user) %>')
</script>
<style>
    .stream {
        background-color: red;
        color: red;
    }
    #videoUrl a {
        background-color: #2aabd2;
        padding: 50px 55px;
        border: 1px solid #000;
        color: #fff;
        font-size: 48px;
        text-transform: uppercase;
        margin-bottom: 20px;
        font-weight: 900;
    }
    .divteg{

        margin-top: 60px;
        margin-bottom: 40px;
        padding-left: 15px;
        padding-right: 15px;

    }

</style>
<div class="containesr">
    <div class="divteg">
    </div>
    <div class="col-xs-12 text-center" id="videoUrl" >

    </div>

</div>


<% include footer.ejs %>
